.consultation {
  position: relative;
  min-height: 300px;
  padding-bottom: 50px;
  &__title {
    font-size: 28px;
    font-weight: normal;
    line-height: 0.82;
    text-align: center;
    color: #3a3a3a;
  }
  &__wrapper {
    position: relative;
    width: 100%;
    height: 166px;
    margin-top: 70px;
    border: solid 1px rgba(0, 0, 0, 0.21);
  }
  &__logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 102px;
    border: solid 1px $main-color;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
  }
  &__form {
    margin-top: 70px;
  }
  &__btn {
    position: absolute;
    top: 160%;
    z-index: 10;
  }
  &__deliter {
    width: 180px;
    height: 5px;
    position: absolute;
    background-color: #fff;
    z-index: 5;
    &-daun {
      top: 99%;
      left: 50%;
      transform: translateX(-50%);
    }
    &-up {
      width: 122px;
      top: -2%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
