@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  .header {
    &__contakts {
      height: 80px;
      flex-direction: column;
      justify-content: space-between;
    }
    &__qestion {
      display: none;
    }
  }
  .about {
    &__wrapper {
      justify-content: center;
    }
  }
}
@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .header {
    justify-content: space-around;
    &__nav {
      display: none;
    }
    &__logo {
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__contakts {
      flex-direction: unset;
    }
  }
  .promo {
    min-height: 595px;
    padding-bottom: 50px;
    &__title {
      font-size: 58px;
    }
    &__desc {
      font-size: 20px;
    }
    &__subtitle {
      font-size: 32px;
    }
    &__devider {
      width: 100%;
    }
    &__text {
      font-size: 11px;
    }
  }
  .advantage {
    &__wrapper {
      max-width: 280px;
    }
  }
  .about {
    &__img {
      width: 300px;
    }
    &__item {
      width: 384px;
    }
  }
  .agent {
    min-height: 297px;
    &__desc {
      font-size: 18px;
    }
    &__text {
      font-size: 14px;
    }
    &__circle {
      width: 80px;
      height: 80px;
    }
    &__img {
      width: 40px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .header {
    height: 80px;
    &__contakts {
      flex-direction: column;
    }
  }
  .promo {
    &__title {
      font-size: 42px;
    }
    &__desc {
      margin-top: 15px;
      font-size: 14px;
    }
    &__subtitle {
      font-size: 24px;
    }
    &__text {
      font-size: 11px;
    }
    &__items {
      flex-wrap: wrap;
    }
    &__item {
      width: 250px;
    }
  }
  .advantage {
    &__items {
      justify-content: flex-start;
    }
    &__wrapper {
      max-width: 450px;
    }
    &__item {
      margin-top: 20px;
    }
    &__desc {
      font-size: 16px;
    }
    &__text {
      font-size: 12px;
    }
  }
  .title {
    font-size: 20px;
    &__devider {
      margin: 10px auto 0 auto;
    }
    &__subtitle {
      font-size: 16px;
      margin: 10px auto 0 auto;
    }
  }
  .about {
    &__wrapper {
      justify-content: center;
    }
  }
}

@media (min-width: 576px) {
  .promoSwiper {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .menu {
    &__block {
      width: 260px;
    }
    &__link {
      font-size: 20px;
      &::before {
        width: 12px;
        height: 12px;
      }
    }
  }
  .header {
    min-height: 180px;
    flex-direction: column;
    &__phone {
      margin-right: 0;
    }
  }
  .promo {
    &__title {
      font-size: 32px;
    }
    &__desc {
      font-size: 13px;
    }
    &__subtitle {
      font-size: 13px;
    }
    &__text {
      font-size: 11px;
    }
    &__items {
      flex-wrap: wrap;
    }
    &__item {
      width: 250px;
    }
    &__line {
      width: 46%;
    }
    &__items {
      justify-content: center;
    }
    &__items {
      display: none;
    }
    &__item {
      margin: 0 auto;
    }
  }
  .btn {
    &__long {
      margin: 20px auto 0 auto;
    }
  }
  .advantage {
    &__img {
      flex-shrink: 1;
      justify-content: flex-start;
      max-width: 45px;
      height: 45px;
      margin-right: 10px;
    }
    &__wrapper {
      flex-shrink: 2;
    }
  }
  .about {
    &__img {
      width: 250px;
      height: 146px;
    }
    &__subtitle {
      margin-top: 10px;
      font-size: 16px;
    }
    &__text {
      font-size: 12px;
    }
  }
}
