.title {
  font-size: 26px;
  font-weight: bold;
  line-height: 0.88;
  text-align: center;
  color: #2e2e2e;
  text-transform: uppercase;
  margin: 0;
  &__w695 {
    width: 695px;
  }
  &__devider {
    width: 148px;
    height: 1px;
    background-color: $main-color;
    margin: 20px auto 0 auto;
  }
  &__subtitle {
    max-width: 880px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.14;
    text-align: center;
    color: #2e2e2e;
    margin: 20px auto 0 auto;
  }
}
