.working {
  min-height: 480px;
  padding: 50px 0;
  background-color: #f3f3f3;
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 -10px;
  }
  &__item {
    width: 290px;
    min-height: 155px;
    text-align: center;
    padding: 0 10px;
    margin-top: 25px;
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    & img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  &__wrapper {
    max-width: 450px;
    min-height: 65px;
  }
  &__desc {
    font-size: 16px;
    font-weight: bold;
    color: $main-color;
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    color: #3a3a3a;
    padding-top: 5px;
  }
}
